# REQUETES SQL OLTP

In [ ]:
# requête SQL OLTP 1 : Nombre total de transactions par commerçant pour la journée en cours
SELECT ID_MERCHANT, COUNT(ID_TRANSACTION) AS TOTAL_TRANSACTIONS
FROM TRANSACTION
WHERE TRANSACTION_DATE = CURRENT_DATE
GROUP BY ID_MERCHANT
ORDER BY ID_MERCHANT;

In [ ]:
# requête SQL OLTP 2 : Montant total des transactions approuvées par commerçant pour la journée en cours
SELECT ID_MERCHANT, SUM(AMOUNT) AS TOTAL_AMOUNT
FROM TRANSACTION
WHERE TRANSACTION_DATE = CURRENT_DATE
AND STATUS = 'APPROVED'
GROUP BY ID_MERCHANT
ORDER BY ID_MERCHANT;

In [ ]:
# requête SQL OLTP 3 : Clients ayant dépensé plus de 1000 (devise) au cours des 30 derniers jours
SELECT CUSTOMER_ID, SUM(AMOUNT) AS TOTAL_SPENT
FROM TRANSACTION
WHERE TRANSACTION_DATE BETWEEN CURRENT_DATE - INTERVAL '30 days' AND CURRENT_DATE
AND STATUS = 'APPROVED'
GROUP BY CUSTOMER_ID
HAVING SUM(AMOUNT) > 1000
ORDER BY TOTAL_SPENT DESC;

In [ ]:
# requête SQL OLTP 4 : Moyenne des dépenses par client au cours des 30 derniers jours
SELECT CUSTOMER_ID, 
SUM(AMOUNT) AS TOTAL_SPENT,
AVG(AMOUNT) AS AVERAGE_SPENT
FROM TRANSACTION
WHERE TRANSACTION_DATE BETWEEN CURRENT_DATE - INTERVAL '30 days' AND CURRENT_DATE
AND STATUS = 'APPROVED'
GROUP BY CUSTOMER_ID
ORDER BY AVERAGE_SPENT DESC;

# SQL OLAP

In [ ]:
# Requête SQL OLAP 1 : Calculer le total des ventes par produit et par mois pour l'année 2023
SELECT 
P.PRODUCT_NAME,
D.MONTH_NUM,
SUM(T.AMOUNT) AS TOTAL_SALES
FROM FACT_TRANSACTION T
JOIN DIM_PRODUCT P ON T.ID_PRODUCT = P.ID_PRODUCT
JOIN DIM_DATE D ON T.ID_DATE = D.ID_DATE
JOIN DIM_MONTH M ON M.ID_MONTH = D.ID_MONTH
JOIN DIM_YEAR Y ON Y.ID_YEAR = M.ID_YEAR
WHERE Y.YEAR_NUM = 2023
GROUP BY P.PRODUCT_NAME, D.MONTH_NUM
ORDER BY TOTAL_SALES DESC;

In [ ]:
# requête SQL OLAP 2 : Calculer la moyenne des revenus par type de client
SELECT
CT.CUSTOMER_TYPE_NAME,
AVG(T.REVENU_AMOUNT) AS AVERAGE_REVENUE
FROM FACT_TRANSACTION T
JOIN DIM_CUSTOMER C ON T.ID_CUSTOMER = C.ID_CUSTOMER
JOIN DIM_CUSTOMER_TYPE CT ON C.ID_CUSTOMER_TYPE = CT.ID_CUSTOMER_TYPE
GROUPE BY CT.CUSTOMER_TYPE_NAME
ORDER BY AVERAGE_REVENUE DESC;

# NoSQL

In [ ]:
# requête NoSQL 1 : affiche 10 documents avec un fraud_score supérieur à 80 dans la collection FRAUD_ANALYSIS 
DB.COLLECTION_FRAUD_ANALYSIS.find({"fraud_score":{"$gt":80}}).limit(10)

In [ ]:
# requête NoSQL 2 : affiche 10 messages d'alertes non vides dans la collection FRAUD_ANALYSIS
DB.COLLECTION_FRAUD_ANALYSIS.find({"alertes.message": {"$exists": true, "$ne": ""}, "alertes.messages": 1, "_id":0}).limit(10)

In [ ]:
# requête NoSQL 2 : Top 10 des transactions à risque élevé (score ≥ 80),avec le client concerné et la ville associée
DB.COLLECTION_FRAUD_ANALYSIS.aggregate([{$lookup:{from:"dim_location", localField:"id_location", as :"city_name"}},{$sort:{"fraud_score":{"$gte": 80}}}]).limit(10)